<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Page 1</title>
		<link rel="stylesheet" href="/static/styles.css?hash={{ styles_hash }}" />
	</head>
	<body>
		<nav>
			<div id="content">
				<h1>Page 1</h1>
			</div>
			<button data-url="/lab">Home</button>
			<button data-url="/page2">Page 2</button>
			<button data-url="/page3">Page 3</button>
		</nav>
		<script src="/static/script.js?hash={{ script_hash }}"></script>
	</body>
</html>
