{% extends "base.html" %}

{% block title %}Crypto Lab - Home{% endblock %}

{% block content %}
<div class="counter" id="counter">{{ user.tokens }}</div>
<div class="level">Level {{ user.level }}</div>
<div class="button-container">
    <div class="circle-button" onclick="collectDust()">X1</div>
</div>
<div class="bottom-buttons">
    <button onclick="location.href='/page1'">Page 1</button>
    <button onclick="location.href='/page2'">Page 2</button>
</div>
{% endblock %}

{% block scripts %}
<script>
    function collectDust() {
        fetch('/lab/collect_dust/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
                'Referer': 'https://<your-ngrok-subdomain>.ngrok-free.app'  // Замените <your-ngrok-subdomain> на ваш поддомен ngrok
            },
            body: JSON.stringify({ user_id: {{ user.telegram_id }} })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('counter').innerText = data.tokens;
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
