body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #111;
	color: #fff;
	overflow: hidden; /* Запрещаем скроллинг страницы */
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh; /* Занимаем всю высоту окна браузера */
}

.container {
	text-align: center;
	margin-top: 50px;
}

.main-button {
	width: 250px;
	height: 250px;
	background-color: #ef9a00;
	color: #fff;
	font-size: 48px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px; /* Отступ снизу для разделения от блока кнопок */
}

.button-bar-container {
	position: fixed;
	bottom: 20px; /* Отступ от нижнего края */
	width: calc(
		100% - 40px
	); /* Ширина блока с отступами по 20px с каждой стороны */
	display: flex;
	justify-content: space-around; /* Равномерное распределение кнопок по ширине */
}

.footer-button {
	width: 80px; /* Ширина квадратных кнопок */
	height: 80px; /* Высота квадратных кнопок */
	margin: 0 10px;
	font-size: 18px;
	border: none;
	background-color: #555;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}

.orange-bar {
	background-color: #ef9a00;
	height: 4px;
	width: 0;
	transition: width 0.3s ease;
}
