<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crypto Lab{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script>
        function navigate(url) {
            document.body.style.opacity = 0;
            setTimeout(() => {
                window.location.href = url;
            }, 500);
        }
    </script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
