<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Счетчик нажатий</title>
		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<div class="container">
			<div id="mainButton" class="main-button">X1</div>
		</div>
		<div class="button-bar-container">
			<button class="footer-button">1</button>
			<button class="footer-button">2</button>
			<button class="footer-button">3</button>
			<button class="footer-button">4</button>
		</div>
		<div class="orange-bar"></div>
		<script src="/static/script.js"></script>
	</body>
</html>
