<!DOCTYPE html>
<html lang="ru">
<!-- Указан язык страницы -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clicker Game</title> <!-- Добавлено название страницы -->
  <meta name="description" content="Игра на кликер, где можно зарабатывать очки.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>
  <div>
    <h1 class='score' id='score'>0</h1>
    <button name='button' id='mine_button' class="mine_button">1x</button>
  </div>
  <script src="static/script.js" async defer></script>
</body>

</html>