<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Page 1</title>
		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<div class="container">
			<h1>Page 1</h1>
			<p>Счетчик: <span id="counter">0</span></p>
		</div>
		<div class="button-container">
			<div class="nav-buttons">
				<a href="/" class="nav-button">1</a>
				<a href="/page1" class="nav-button active">2</a>
				<a href="/page2" class="nav-button">3</a>
				<a href="/page3" class="nav-button">4</a>
				<div id="active-indicator" class="active-indicator"></div>
			</div>
		</div>
		<script src="/static/scripts.js"></script>
	</body>
</html>
