<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Страница 2</title>
		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<div class="container">
			<h1>Страница 2</h1>
		</div>
		<div class="button-bar-container">
			<a href="/" class="footer-button">1</a>
			<a href="/page1" class="footer-button">2</a>
			<a href="/page2" class="footer-button">3</a>
			<a href="/page3" class="footer-button">4</a>
		</div>
		<div class="orange-bar"></div>
		<script src="/static/script.js"></script>
	</body>
</html>
